$global-font-size: 14px;
$fontsans: 'Source Sans Pro', sans-serif;
$fw-black: 900;
$fw-bold: 600;
$fw-normal: 400;
$fw-light: 200;

$global-width: 90rem;

$white: #fefefe;
$black: #1b1b1b;


$cl-primary: #4ebaeb;
$cl-secondary: #5c34a6;
$cl-gray-xlight: #f4f2f8;
$cl-gray-light: #dbdadf;