.featurewrap {
    background-image: linear-gradient(180deg, rgba(#fff,.0333) 10%, transparent 90%);
    // color:$black;

    padding-top: 10rem;
    margin-top:-5rem;
    mask-image: url(../img/bg-curvy-desktop.svg), linear-gradient(90deg, #000, #000);
    mask-repeat: no-repeat;
    mask-size: 150rem 20rem, 100% 100%;
    mask-position: center top, center 20rem;
}
.featurelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin:0 auto;
    padding:0;
    // max-width: 70rem;

    > li {
        margin:0;
        padding:0;
        flex-basis: 20rem;
        flex-grow: 1;
    }
}
.featcard {
    padding:1.5em 1em;
    text-align: center;
    font-size: 1.25rem;


    img {
        width: 10em;
        max-height: 7em;
        margin-bottom: 1em;
    }
    p {
        font-size: 1.25em;
        font-weight: $fw-light;
        line-height: 1.2;
        strong {
            font-size: 150%;
            font-weight: $fw-black;
        }
    }
}