.contactform {
    margin: 0 auto;
    // max-width: 31rem;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="datetime"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
    margin: 0;
    padding:.75em .5em; 
    display: block;
    width:100%;
    font-weight: $fw-bold;
    // font-size: 1.125rem;
    line-height: 1.2;
    background-color: rgba(#fff,.25);
    appearance: none;
    border-radius: 4px;;
    border:1px solid rgba(#000,.333);
    color:#fff;
    &:focus {
        border:1px solid rgba(#fff,.25);
        outline: none;
        &:-ms-input-placeholder {
            color: transparent;
        }
        
        &::placeholder {
            color: transparent;
        }
    }


}

:-ms-input-placeholder {
    color: $cl-gray-xlight;
}

::placeholder {
    color: $cl-gray-xlight;
}

fieldset {
    margin: rem-calc($layout-gutter-width/2) 0;
}
legend {
    font-weight: bold;
    font-size: 1rem;
    margin: 0 0 0;
}
label {
    font-weight: $fw-black;
    text-transform: uppercase;
    font-size: 1.125rem;
    color:inherit;
    line-height: 1.6;
}

[type="checkbox"] + span, [type="radio"] + span {
    text-transform: none;
    font-weight: $fw-normal;
    font-size: .9375em;
    line-height: 1.2;
    margin-top: .333em;
    display: block;
    float: right;
    width: calc(100% - 1.5em);
    margin-bottom: 2em;
}

.form-error {
    font-weight: $fw-normal;
    text-transform: none;
    font-size: .9375rem;
    display: none;
    &.is-visible {
        display: inline;
    }
}
.formsteps {
    list-style: none;
    margin: 0;
    padding: 0;
}

.formstep {
    display: block;
    margin: 0 0;
    padding: .5rem 0;
}

.formstep__title {
    font-size: 1.333rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0 0 0.75rem;
}

.checkergrid {
    list-style: none;
    margin: 0 -0.25rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
        display: inline-block;
        margin: 0.25rem 0.25rem;
        padding: 0;
        flex-basis: 8rem;
        flex-grow: 1;
    }
}

.inputgrid {
    list-style: none;
    margin: 0 -0.25rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
        display: inline-block;
        margin: 0.25rem 0.25rem;
        padding: 0;
        flex-basis: 12rem;
        flex-grow: 1;
    }
}



