.mainmenu {
    list-style: none;
    margin:0 -.75em 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: $fw-black;
    color:$black;
    li {
        white-space: nowrap;
        + li {
           //padding-left:12%;
        }
        a {
            display: block;
            padding:.5em .75em;
            text-decoration: none;
            &:hover, &:focus {
                color:$white;
            }

        }
        &.is-active {
            a {
                color:$cl-primary;
            }
        }
    }

    ul {
        position: absolute;
        background-color: rgba($white,.9);
        margin:0 0 0 0;
        padding: .75em 0;
        display: none;
        flex-wrap: no-wrap;
        flex-direction: column;
        // text-transform: none;
        font-weight: $fw-normal;
        list-style: none;
        // font-size: 1.125rem;
        li {
            a {
                padding-right:2em;
                &:hover, &:focus {
                    // background-color: $white;
                    color:$cl-secondary;
                }
            }
        }
        &:hover, &:focus {
            display: flex;
        }
    }

    li a {
        &:hover + ul, &:focus + ul  {
            display: flex;
        }
    }

}

.sidemenu {
    list-style: none;
    margin:2rem 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: $fw-black;
    color: $white;
    li {
        white-space: nowrap;
        + li {
           //padding-left:12%;
        }
        a {
            display: block;
            padding:.75em 1em;
            text-decoration: none;

        }
        &.is-active {
            a {
                color:$cl-primary;
            }
        }
    }

    ul {
        margin:-.25em 0 0 0;
        padding: 0;
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: column;
        text-transform: none;
        font-weight: normal;
        li {
            a {
                padding:.5em 1em .5em 2em;
            }
        }
    }


}


.footermenu {
    list-style: none;
    padding: 0;
    margin: 0 0;
    > li {
        margin: 0;
        padding: 0;
        + li {
            margin-top:.5rem;
        }
        a {
            text-decoration: none;
        }
    }
}

.sociallinks {
    list-style: none;
    padding: 0;
    margin: 0 0;
    text-align: center;
    font-size:1rem;
    line-height: 1;
    @include breakpoint(768px) {
        text-align: left;
    }
    @include breakpoint(1024px) {
        text-align: right;
    }
    > li { 
        margin: 0;
        padding: 0;
        display: inline-block;
        a {
            display: inline-block;
            padding: 10.666% 0 0;
            margin:0 .333em;
            border:1px solid currentcolor;
            border-radius:50%;
            width:2.125em;
            height:2.125em;
            text-decoration: none;
            text-align: center;
        }
    }

}

