
.pagewrap {
    //max-width: 90%;
    //border:1px solid red;
    overflow: hidden;
    margin:0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: calc(3rem + 2.5vw);
    padding-bottom: calc(3rem + 2.5vw);
    width: 100%;
    @include breakpoint(100em) {
        padding-left: calc(50vw - #{$global-width/2});
        padding-right: calc(50vw - #{$global-width/2});
    }

    &--full {
        @include breakpoint(100em) {
            padding-left: 5%;
            padding-right: 5%;
        }   
    }

    &.light {
        background-color: $cl-gray-xlight;
    }
}

.narrowwrap {
    max-width: 50rem;
    margin-left:auto;
    margin-right:auto;
}


.nlswrap {
    background-color: darken($cl-secondary,30%);
}

.howtowrap, .videowrap {
    margin-top:-2rem;
    mask-image: url(../img/rectbig.svg);
    mask-repeat: repeat-x;
    mask-size: auto 100%;
    mask-position: center center;
}

.videowrap {
    margin-bottom: -2rem;
    // z-index: 1;
    position: relative;
    
}


.askpreziwrap {
    // margin-top:-2rem;
    // position: relative;
    // z-index: ;
    mask-image: url(../img/rectarrow.svg);
    mask-repeat: repeat-x;
    mask-size: auto 120vw;
    mask-position: center bottom;
}