.siteheader {
    padding-top: calc(2vw + .5rem);
    padding-bottom: calc(2vw + .5rem);
    // background-color: $cl-secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // color: $white;
    
    &__navblock {
        //margin-left:auto;
    }

    
}

footer.siteheader {
    background-color: darken($cl-secondary, 30%);
    padding-top: .75rem;
    padding-bottom: .75rem;
}



.sitelogo {
   display: block;
   max-width: calc(6rem + 4.5vw);
   footer.siteheader & {
    max-width: 5rem;
   }

}