<header class="siteheader pagewrap">
    <div class="siteheader__logoblock">
        <a href="#" class="sitelogo">
            <span class="screen-reader-text">Vieeye</span>
            <img src="{{root}}assets/img/logo.svg" alt="Vieeye Logo">
        </a>
    </div>
    <div class="siteheader__navblock">
        <ul class="mainmenu" data-magellan>
            <li><a href="https://vieeye.hu/">Szolgáltatások</a></li>
            <li class="is-active"><a href="https://vieeye.hu/vieeye-chatbot">Epromoter</a></li>
            <li><a href="https://vieeye.hu/marketing-blog/">Blog</a></li>
            <li><a href="https://vieeye.hu/iparagi-referencia/">Referenciák</a></li>
            <li><a href="#thecontactwrap">Kapcsolat</a></li>
        </ul>
    </div>
</header>