<header class="siteheader pagewrap">
    <div class="siteheader__logoblock">
        <a href="https://vieeye.hu/" class="sitelogo">
            <span class="screen-reader-text">Vieeye</span>
            <img src="{{root}}assets/img/logo.svg" alt="Vieeye Logo">
        </a>
    </div>
    <div class="siteheader__navblock">
        <ul class="mainmenu show-for-large" data-magellan>
            {{> menuitems}}
        </ul>
    </div>
    <a href="#" type="button" class="menutoggler hide-for-large" data-toggle="offCanvas"></a>
</header>